POSTGRES_DB=helper
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_HOST=db-helper-backend
POSTGRES_PORT=5432

DEBUG=True
LOCAL_ENV=True

EMAIL_HOST=mail
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=1025
EMAIL_USE_TLS=False

EMAIL_FROM=teste@teste.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

KAFKA_BOOTSTRAP_SERVER=kafka:29092
KAFKA_CLIENT_ID=app-stg
KAFKA_GROUP_ID=app-stg

CAS_SERVER_URL=

FRONTEND_AUTH_REDIRECT=

REDIS_URL=redis://redis:6379/0

DEFAULT_FROM_EMAIL=noreply@helper.local

# Credenciais usadas para autenticar nas APIs externas monitoradas
HELPER_API_AUTH_EMAIL=helper@vert-capital.com
HELPER_API_AUTH_PASSWORD=Helper@123
